<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Result</h1>            
        </div>
        <div class="content">
            <h2 id="result_number"></h2>            
        </div>    
    </div>
    <script>        
        let indexOfInteger = parseInt(document.location.href.indexOf("/square/"))+8
        let integer = document.location.href.substring(indexOfInteger)        
        result = document.getElementById("result_number")
        result.innerHTML = integer*integer
                
        
        
    </script>
</body>
</html>