<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>ERROR</h1>            
        </div>
        <div class="content">
            <h3 id="resultMessage">{{errorMessage}}</h3>                        
        </div>    
    </div>
</body>
</html>