<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome</h1>
            <p>This is member page</p>
        </div>
        <div class="content">
            <h2>Congratulation! {{name}}, you have successfully signed in!</h2>
            <a href="/signout">Signout</a>
        </div>
        <div class="content">
            <form method="post" id="form1" action="/createMessage" >
                <h3>Leave a message!</h3>                        
                <table>                    
                    <tr>
                        <td><label for="leaveMessage">Content: </label></td>
                        <td><input type="text" id="leaveMessage" name="leaveMessage" required></td>                                    
                    </tr>
                </table>
                <input type="submit" id="submit" value="Submit">
        </div>
        <div class="content" id="messageBoard">
            
            <script type="text/javascript">
                const messageList = {{messageToJS | safe}};                
                console.log(messageList);
                for (i = 0; i < Object.keys(messageList).length; i++){
                    const textLine = document.createElement("p")
                    const nameReveal = document.createElement("b")
                    nameReveal.textContent = Object.keys(messageList[i]) + ":   "
                    const messageReveal = document.createElement("span")
                    messageReveal.textContent = messageList[i][Object.keys(messageList[i])]
                    textLine.appendChild(nameReveal)
                    textLine.appendChild(messageReveal)
                    document.getElementById("messageBoard").appendChild(textLine);
                }
                
                                             
            </script>
        </div>    
    </div>
    
    
    
</body>
</html>